/* -------------------------------------> INDEX */
/* 1.  PROXIMA NOVA */


/* -------------------------------------> 1. PROXIMA NOVA  */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
